@import "src/assets/scss/variables";

.card {
  display: flex;
  flex-direction: column;
  width: 306px;
  cursor: pointer;

  &:hover img{
    transform: scale(1.2);
    transition: $transition;
  }

  &-image{
    display: flex;
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  &-description{
    display: flex;
    flex-direction: column;

    &__title{
      font-family: 'Inter-Medium',sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: $blue-light;
    }
    &__price{
      font-family: 'Inter-Medium',sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
    }
    &__address{
      color: $blue-gray;
    }
    &__date{
      color: $blue-gray;
    }
  }
}

@media (max-width: 767.98px) {
  .card{
    width: 100%;
    text-align: center;
  }
}
